# Pastas que recebem arquivos gerados durante a execução de scripts
depts/*
people/*
publons/*
resources/*

# Arquivos de configuração
config.json

# Arquivos relcionados à execução do código e sistemas operacionais
*.ini
src/*.pyc
src/.vscode
src/__pycache__/
notebooks/.ipynb_checkpoints/
