# Pastas que recebem arquivos gerados durante a execução de scripts
depts/*
people/*
publons/*
resources/*

# Arquivos de configuração
config.json

# Arquivos relcionados à execução do código
src/.vscode
src/__pycache__/
src/*.pyc